name: bluetooth_test_clean
description: "A new Flutter project."
publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_blue_plus: ^2.0.2 
  permission_handler: ^11.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  flutter_launcher_icons: ^0.13.1 # <-- SOLO AQUÍ DEBE ESTAR LA VERSIÓN

# For information on the generic Dart part of this file, see the
# following page: dart.dev

# La siguiente sección es específica de Flutter packages.
flutter:

  uses-material-design: true
  
  # AÑADE TUS ASSETS AQUI
  assets:
    - assets/logo.png
    # - assets/logo_foreground.png 

# --- CONFIGURACIÓN DEL LOGO DE LA APP (SIN VERSIÓN AQUÍ) ---
flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/logo.png" 
  min_sdk_android: 21 
  # adaptive_icon_background: "#FFFFFF" 
  # adaptive_icon_foreground: "assets/logo_foreground.png" 


dependency_overrides: 
  flutter_blue_plus: 2.0.1
 
  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
